@use 'variables' as vars;
@use 'sass:map';
@use '@angular/material' as mat;

.annotations {
  margin-bottom: map.get(vars.$spacing, "v");
  margin-left: map.get(vars.$spacing, "h");

  .annotationData::after {
    content: '\A';
    white-space: pre;
  }

  .annotationMetadata {
    font-size: 11px;
    color: rgba(white, 0.7);
  }
}
