@use "variables" as vars;
@use "sass:map";

.abstractTableMainTitle {
  h1 {
    display: inline;
  }

  span button {
    float: right;
  }

  margin: 20px 0 40px 0;
}

table {
  button {
    margin: map.get(vars.$spacing, "small");
  }
}

th.mat-sort-header-sorted {
  color: black;
}
