@import "../../lwm.vars.scss";

.abstractTableMainTitle {
  h1 {
    display: inline;
  }
  span button {
    float: right;
  }
  margin: 20px 0 40px 0;
}

table {
  button {
    margin: $small-spacing;
  }
}

th.mat-sort-header-sorted {
  color: black;
}


