<lwm-abstract-header [headerTitle]="headerTitle"
                     [actionTypes]="createAction()"
                     (performAction)="onCreate()">
</lwm-abstract-header>

<lwm-abstract-table [sort]="{active: 'lastModified', direction: 'asc'}"
                    [data$]="applications$"
                    [tableContent]="tableContent"
                    [columns]="columns"
                    [filterPredicate]="filterPredicate"
                    [canEdit]="canCreateOrUpdate"
                    [canDelete]="canCreateOrUpdate"
                    (dataSourceEmitter)="initDataSource($event)"
                    (editEmitter)="onEdit($event)"
                    (deleteEmitter)="onDelete($event)">
</lwm-abstract-table>
