<table mat-table [dataSource]="tableModel.dataSource">
    <ng-container *ngFor="let column of tableModel.columns" [matColumnDef]="column.attr">
        <th mat-header-cell *matHeaderCellDef>{{column.title}}</th>
        <td mat-cell *matCellDef="let e" [ngSwitch]="column.attr">
            <ng-container *ngIf="canSeeApprovals(e)">
                <lwm-ternary-entry-type-toggle *ngSwitchCase="'Anwesenheitspflichtig'"
                                               [entry]="e"
                                               [attr]="column.attr"
                                               [canApprove]="canApprove">
                </lwm-ternary-entry-type-toggle>

                <lwm-ternary-entry-type-toggle *ngSwitchCase="'Testat'"
                                               [entry]="e"
                                               [attr]="column.attr"
                                               [canApprove]="canApprove">
                </lwm-ternary-entry-type-toggle>

                <lwm-ternary-entry-type-toggle *ngSwitchCase="'Zusatzleistung'"
                                               [entry]="e"
                                               [attr]="column.attr"
                                               [canApprove]="canApprove">
                </lwm-ternary-entry-type-toggle>

                <lwm-entry-type-bonus-field *ngSwitchCase="'Bonus'"
                                            [entry]="e"
                                            [attr]="column.attr"
                                            [canApprove]="canApprove">
                </lwm-entry-type-bonus-field>
            </ng-container>

            <ng-container *ngIf="isRescheduled(e); else standardCell">
                <ng-container [ngSwitch]="reschedulePresentationStrategy.kind">
                    <ng-container *ngSwitchCase="'from_into'">
                        <ng-container *ngIf="reschedulePresentationStrategy.isInto(e); else isFrom">
                            <ng-container
                                    *ngIf="column.attr == reschedulePresentationStrategy.indexAttr; else renderDefault">
                                <span>
                                    <mat-icon color="primary">person_add</mat-icon>
                                    {{tableContentFor(e, column.attr)}}
                                </span>
                            </ng-container>
                            <ng-template #renderDefault>
                                <span>{{tableContentFor(e, column.attr)}}</span>
                            </ng-template>
                        </ng-container>
                        <ng-template #isFrom>
                            <ng-container
                                    *ngIf="column.attr == reschedulePresentationStrategy.indexAttr; else renderDefault">
                                <span>
                                    <mat-icon color="warn">person_remove</mat-icon>
                                    <del> {{tableContentFor(e, column.attr)}}</del>
                                </span>
                            </ng-container>
                            <ng-template #renderDefault>
                                <span><del>{{tableContentFor(e, column.attr)}}</del></span>
                            </ng-template>
                        </ng-template>
                    </ng-container>
                    <ng-container *ngSwitchCase="'view'">
                        <ng-container
                                *ngIf="isAffectedByRescheduled(reschedulePresentationStrategy, column.attr); else standardCell">
                            <ng-container [ngSwitch]="column.attr">
                                <ng-container *ngSwitchCase="reschedulePresentationStrategy.rescheduleReasonAttr">
                                    <p>
                                        Grund: {{reschedulePresentationStrategy.rescheduledContentFor(e.rescheduled, column.attr)}}</p>
                                    <p>{{tableContentFor(e, column.attr)}}</p>
                                </ng-container>

                                <ng-container *ngSwitchCase="reschedulePresentationStrategy.indexAttr">
                                    <p>{{tableContentFor(e, column.attr)}}</p>
                                    <p>
                                        <mat-icon color="primary">repeat</mat-icon>
                                    </p>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <p>
                                        <del>{{tableContentFor(e, column.attr)}}</del>
                                    </p>
                                    <p>{{reschedulePresentationStrategy.rescheduledContentFor(e.rescheduled, column.attr)}}</p>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-template #standardCell>
                            <span>{{tableContentFor(e, column.attr)}}</span>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-template #standardCell>
                <span>{{tableContentFor(e, column.attr)}}</span>
            </ng-template>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <button mat-stroked-button
                    color="primary"
                    (click)="openRescheduleDialog(element)"
                    *ngIf="canPerformRescheduleAction(element)"
                    matTooltip="Termin verschieben"
                    matTooltipPosition="above">
                <mat-icon>update</mat-icon>
            </button>

            <button mat-stroked-button
                    color="accent"
                    (click)="openAnnotationDialog(element)"
                    *ngIf="canAnnotate"
                    matTooltip="Annotieren"
                    matTooltipPosition="above">
                <mat-icon fontSet="material-icons-outlined">message</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
