<table mat-table [dataSource]="tableModel.dataSource">
    <ng-container *ngFor="let column of tableModel.columns" [matColumnDef]="column.attr">
        <th mat-header-cell *matHeaderCellDef>{{column.title}}</th>
        <td mat-cell *matCellDef="let e" [ngSwitch]="column.attr">
            <lwm-ternary-entry-type-toggle *ngSwitchCase="'Anwesenheitspflichtig'"
                                           [entry]="e.entry"
                                           [attr]="column.attr"
                                           [canApprove]="canApprove">
            </lwm-ternary-entry-type-toggle>

            <lwm-ternary-entry-type-toggle *ngSwitchCase="'Testat'"
                                           [entry]="e.entry"
                                           [attr]="column.attr"
                                           [canApprove]="canApprove">
            </lwm-ternary-entry-type-toggle>

            <lwm-ternary-entry-type-toggle *ngSwitchCase="'Zusatzleistung'"
                                           [entry]="e.entry"
                                           [attr]="column.attr"
                                           [canApprove]="canApprove">
            </lwm-ternary-entry-type-toggle>

            <lwm-entry-type-bonus-field *ngSwitchCase="'Bonus'"
                                        [entry]="e.entry"
                                        [attr]="column.attr"
                                        [canApprove]="canApprove">
            </lwm-entry-type-bonus-field>

            <lwm-report-card-entry-row-reschedule
                    [column]="column.attr"
                    [entry]="e.entry"
                    [tableContentFor]="tableContentFor">
            </lwm-report-card-entry-row-reschedule>
        </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <button mat-stroked-button
                    color="primary"
                    (click)="openRescheduleDialog(element)"
                    *ngIf="canPerformRescheduleAction(element.entry)"
                    matTooltip="Termin verschieben"
                    matTooltipPosition="above">
                <mat-icon>update</mat-icon>
            </button>

            <button mat-stroked-button
                    color="accent"
                    (click)="openAnnotationDialog(element)"
                    *ngIf="canAnnotate"
                    matTooltip="Annotieren"
                    matTooltipPosition="above">
                <mat-icon [matBadgeHidden]="element.annotationCount == 0"
                          [matBadge]="element.annotationCount"
                          matBadgePosition="above after"
                          matBadgeSize="medium"
                          matBadgeColor="accent"
                          fontSet="material-icons-outlined">
                    message
                </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
