# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.gitignore.io/api/macos,visualstudiocode,angular,git,jetbrains+all,node,webstorm+all
# Edit at https://www.gitignore.io/?templates=macos,visualstudiocode,angular,git,jetbrains+all,node,webstorm+all

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea

## File-based project format:
*.iws

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store

### JetBrains+all ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff

# CMake
cmake-build-*/

# IntelliJ
/out/

*.iml
modules.xml
.idea/misc.xml
*.ipr


### macOS ###
# General
.AppleDouble
.LSOverride


# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache


# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history