<h1 mat-dialog-title>{{headerTitle()}}</h1>

<div>
    <mat-chip-list aria-label="Standard Roles">
        <mat-chip *ngFor="let r of standardRoles" [color]="r.color" selected>{{r.label}}</mat-chip>
    </mat-chip-list>
</div>

<div class="modalContainer">

    <mat-dialog-content [formGroup]="authGroup">
        <mat-form-field color="primary">
            <input type="text" placeholder="Modul" aria-label="Modul" matInput [formControl]="getControl('courseControl')" [matAutocomplete]="courseAuto">
            <mat-autocomplete #courseAuto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let course of filteredCourseOptions | async" [value]="course">
                    {{course.abbreviation}} ({{course.lecturer.lastname}})
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="hasFormGroupError('courseControl')">{{formGroupErrorMessage('courseControl')}}</mat-error>
        </mat-form-field>

        <mat-form-field color="primary">
            <input type="text" placeholder="Rolle" aria-label="Rolle" matInput [formControl]="getControl('roleControl')" [matAutocomplete]="roleAuto">
            <mat-autocomplete #roleAuto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let role of filteredRoleOptions | async" [value]="role">
                    {{role.label}}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="hasFormGroupError('roleControl')">{{formGroupErrorMessage('roleControl')}}</mat-error>
        </mat-form-field>

        <mat-dialog-actions>
            <button mat-flat-button color="primary" [disabled]="!authGroup.valid" (click)="addAuthority()"> <!-- set disabled via css -->
                <mat-icon>add</mat-icon>
            </button>
        </mat-dialog-actions>
    </mat-dialog-content>

    <ng-container *ngIf="!emptyData()">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.attr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.title}}</th>
                <td mat-cell *matCellDef="let element ">{{prepareTableContent(element, column.attr)}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                    <button mat-stroked-button color="warn" (click)="onDelete(element)" matTooltip="Löschen"
                            matTooltipPosition="right">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </ng-container>

    <mat-dialog-actions>
        <button mat-flat-button (click)="onCancel()">Abbrechen</button>
    </mat-dialog-actions>
</div>
