<ng-container *ngIf="data$ | async as data">

    <div class="jumbotron schedule-entry-header-container">
        <h1>{{headerTitle(data[1])}}</h1>
        <ng-container *ngIf="showHeaderDetails(data[0]); then thenBlock; else elseBlock"></ng-container>
        <ng-template #thenBlock>
            <div class="schedule-entry-table">
                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Termin:</div>
                    <div class="schedule-entry-table-col">{{assignmentText(data[0])}}</div>
                </div>
    
                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Raum:</div>
                    <div class="schedule-entry-table-col">{{room(data[1])}}</div>
                </div>
    
                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Datum:</div>
                    <div class="schedule-entry-table-col">{{day(data[1])}}</div>
                </div>

                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Zeitraum:</div>
                    <div class="schedule-entry-table-col">{{period(data[1])}}</div>
                </div>
    
                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Betreuer:</div>
                    <div class="schedule-entry-table-col">{{supervisors(data[1])}}</div>
                </div>
    
                <div class="schedule-entry-table-row">
                    <div class="schedule-entry-table-main-col">Teilnehmer:</div>
                    <div class="schedule-entry-table-col">{{participants(data[0], data[1])}}</div>
                </div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <h3 class="nostud">Keine Studierenden in diesem Termin</h3>
        </ng-template>
    </div>

    <lwm-report-card-table
            [reschedulePresentationStrategy]="reschedulePresentationStrategy(data[1])"
            [allowRescheduling]="false"
            [tableModel]="dataSource(data[0])"
            [auths]="auths()"
            [tableContentFor]="tableContentFor">
    </lwm-report-card-table>
</ng-container>
