<full-calendar
        defaultView="dayGridMonth"
        #calendar
        [editable]="true"
        [plugins]="calendarPlugins"
        [locale]="'de'"
        [nowIndicator]=false
        [weekends]="false"
        [firstDay]=1
        [allDaySlot]=true
        [header]="{left: 'month, list, today', center: 'title', right: 'prev,next'}"
        [customButtons]="{
            today: {text: 'Heute', click: goToToday},
            month: {text: 'Monat', click: showMonthView},
            list: {text: 'Liste', click: showListView}
        }"
        [buttonText]="{month: 'Monat', list: 'Liste'}"
        [columnHeaderFormat]="{ weekday: 'long' }"
        [eventTimeFormat]="{ hour: '2-digit', minute: '2-digit', omitZeroMinute: false, meridiem: false }"
        [events]="allDates"
        [weekNumbers]=true
        [validRange]="semesterBoundaries"
        [weekNumbersWithinDays]=true
        [defaultDate]="startDate"
        (eventClick)="onEventClick($event.event)">
</full-calendar>
