@use "variables" as vars;
@use "sass:map";

.lwm-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .lwm-card-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 map.get(vars.$spacing, "med") map.get(vars.$spacing, "med") 0;
    width: 400px;
    border-radius: vars.$border-radius;
    border: 1px solid map.get(vars.$colors, "light-border");

    .lwm-card-header {
      background-color: #ddd;
      padding: map.get(vars.$spacing, "low");
      border-bottom: 1px solid map.get(vars.$colors, "light-border");
      font-weight: 600;

      .lwm-card-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }

    .lwm-card-content {
      .lwm-card-par {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }

      .mat-list-item:hover {
        background-color: vars.$hover-color;
      }
    }
  }
}
