@import "../../lwm.vars";

.application-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .application-card-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0 $med-spacing $med-spacing 0;
        width: 400px;
        border-radius: $lwm-border-radius;
        border: 1px solid $light-bordercolor;

        .application-card-header {
            background-color: $heading-background;
            padding: $low-spacing;
            border-bottom: 1px solid $light-bordercolor;
            font-weight: 600;

            .application-card-title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
        }

        .application-card-content {
            padding: 10px;
            height: 200px;
            overflow: auto;
            text-overflow: ellipsis;
            
            
        }

        .application-card-actions {
          background-color: $ivory;
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding-right: $med-spacing;

          button {
              margin: $med-spacing 0 $med-spacing $low-spacing;
          }
      }
    }
}
