<h1 mat-dialog-title>Gruppe {{payload.group.label}} - {{dataSource.data.length}} bearbeiten</h1>

<div class="modalContainer">
    <mat-dialog-content>
        <ng-container>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
                <ng-container *ngFor="let column of columns" [matColumnDef]="column.attr">
                    <th mat-header-cell *matHeaderCellDef>{{column.title}}</th>
                    <td mat-cell *matCellDef="let element ">{{prepareTableContent(element, column.attr)}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                        <button *ngIf="shouldAllowSwapping()" mat-stroked-button
                                [color]="swapAction.color"
                                [matTooltip]="swapAction.tooltipName"
                                [matTooltipPosition]="swapAction.tooltipPosition"
                                [matMenuTriggerFor]="swapMenu">
                            <mat-icon>{{swapAction.iconName}}</mat-icon>
                        </button>

                        <mat-menu #swapMenu="matMenu">
                            <ng-template matMenuContent>
                                <button *ngFor="let group of payload.otherGroups"
                                        (click)="swap(element, group)"
                                        mat-menu-item>
                                    {{group.label}} - {{group.members.length}}
                                </button>
                            </ng-template>
                        </mat-menu>

                        <button mat-stroked-button
                                [color]="deleteAction.color"
                                (click)="delete(element)"
                                [matTooltip]="deleteAction.tooltipName"
                                [matTooltipPosition]="deleteAction.tooltipPosition">
                            <mat-icon>{{deleteAction.iconName}}</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

    </mat-dialog-content>

    <mat-card>
        <mat-card-content [formGroup]="addStudentFormGroup">
            <mat-form-field class="mat-form-field-modal" color="primary">
                <input aria-label="" type="text" [placeholder]="addStudentForm.displayTitle" matInput
                       [formControlName]="addStudentForm.formControlName" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="addStudentForm.data.displayFn">
                    <mat-option *ngFor="let option of addStudentForm.data.filteredOptions | async" [value]="option">
                        {{addStudentForm.data.displayFn(option)}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="hasOptionError_(addStudentForm.data)">{{getOptionErrorMessage_(addStudentForm.data)}}
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button
                    [color]="addAction.color"
                    (click)="create(userFromControl())"
                    [matTooltip]="addAction.tooltipName"
                    [matTooltipPosition]="addAction.tooltipPosition"
                    [disabled]="!addStudentFormGroup.valid">
                <mat-icon>{{addAction.iconName}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-dialog-actions>
        <button type="button" mat-flat-button (click)="onCancel()" cdkFocusInitial>Abbrechen</button>
    </mat-dialog-actions>
</div>
