<div class="jumbotron">
  <div class="dashboard-header">
    <h1>Labwork Management</h1>
    <h3 *ngIf="semester">Staffelpläne im {{semester.label}}</h3>
  </div>
</div>

<div *ngIf="courses">
  <div class="schedule-card-list">
    <div *ngFor="let course of courses" class="schedule-card-container">

      <div class="schedule-card-header">
        <div class="schedule-card-title">
          <span>{{course.label}}</span>
          <span class="abbreviation" [style.background-color]=getColor(course)>{{course.abbreviation}}</span>
        </div>
      </div>

      <div class="schedule-card-content">
        <ng-container *ngIf="(scheduleEntries.length>0); then thenBlock else elseBlock"></ng-container>

        <ng-template #thenBlock>
          <p>Termin</p>
          <p>Termin</p>
          <p>Termin</p>
          <p>Termin</p>
          <p>Termin</p>

        </ng-template>
        <ng-template #elseBlock>
          <p>In diesem Semester existieren keine aktiven Staffelpläne für dieses Modul.</p>
        </ng-template>

      </div>

      <div class="schedule-card-footer">
        <button mat-flat-button color="primary" (click)="onCancel()" cdkFocusInitial>Schließen</button>
      </div>
    </div>
  </div>
</div>