<ng-container *ngIf="semester">
    <div class="jumbotron">
        <h1>{{semester.label}}</h1>
    </div>

    <lwm-dashboard-calendar-settings
            (ownEntriesOnlyChange)="ownEntriesOnlyDidChange($event)">
    </lwm-dashboard-calendar-settings>

    <ng-container *ngIf="currentCourses.length > 0">
        <h2>Legende</h2>
        <div class="ed-chips legend">
            <div *ngFor="let c of currentCourses"
                 [style]="{backgroundColor: colorForCourse_(c.id)}">
                {{c.abbreviation}}
            </div>
        </div>
    </ng-container>

    <lwm-dashboard-calendar
            [scheduleEntryEvents]="entries"
            [eventTitleFor]="eventTitleFor"
            [semester]="semester"
            (eventClickEmitter)="onEventClick($event)">
    </lwm-dashboard-calendar>
</ng-container>
