@import "../../../lwm.vars.scss";

.jumbotron {
    //background-color: $heading-background;
    margin-top: -10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .dashboard-header {
        text-align: center;
    }
}

