<ng-container *ngIf="dashboard">
    <div class="jumbotron">
        <h1>{{dashboard.semester.label}}</h1>
    </div>

    <ng-container *ngIf="courses.length > 0">
        <div class="ed-chips">
            <div *ngFor="let c of courses" [style]="{backgroundColor: c.color}">{{c.course.label}}</div>
        </div>
        
    </ng-container>

    <lwm-dashboard-calendar
            [makeCalendarEvents]="calendarEvents(dashboard.scheduleEntries)"
            [semester]="dashboard.semester"
            (eventClickEmitter)="onEventClick($event)">
    </lwm-dashboard-calendar>
</ng-container>
