@import "../../../lwm.vars.scss";

.jumbotron {
    //background-color: $heading-background;
    margin-top: -10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .dashboard-header {
        text-align: center;
    }
}

.schedule-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .schedule-card-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0 $med-spacing $med-spacing 0;
        width: 500px;
        border-radius: $lwm-border-radius;
        border: 1px solid $light-bordercolor;

        .schedule-card-header {
            background-color: $ivory;
            padding: $low-spacing;
            font-weight: 600;

            .schedule-card-title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                
                .abbreviation {
                    padding: 2px 6px;
                    border-radius: $lwm-border-radius;
                    color: white;
                    font-size: .8em;
                    font-weight: normal;
                }
            }
        }

        .schedule-card-content {
            height: 10em;
            p {
                padding: 0;
                margin: 0;
            }

            .mat-list-item:hover {
                background-color: $hover-color;
            }
        }

        .schedule-card-footer {
            background-color: $ivory;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            border-top: 1px solid $light-bordercolor;
            
            button {
                width: 100%;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}
