$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;
$ivory: #F8F8F8;
$ivory-border: #E7E7E7;
$hover-color: #f5f5f5;

$spacing: (
        small: 5px,
        low: 10px,
        med: 25px,
        high: 40px,
        v: 16px,
        h: 10px,
);

$colors: (
        header-font: #ABABAB,
        light-border: #e0e0e0,
        medium-border: #999,
        dark-border: #222,
        light-secondary-text: #5E5E5E,
);

$border-radius: 5px;
