<h1 mat-dialog-title>{{viewModel.title}}</h1>

<div class="modalContainer">
    <form (submit)="onSubmit()">
        <mat-dialog-content [formGroup]="formGroup">
            <mat-form-field class="mat-form-field-modal" color="primary">
                <div class="lwmDatepicker">
                    <input matInput readonly
                           [matDatepicker]="dp"
                           [placeholder]="'Datum'"
                           [formControl]="dateControl"
                           (click)="dp.open()"
                           [matDatepickerFilter]="isCandidateForRescheduling"
                           (dateChange)="onDateChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                </div>
                <!--                <mat-datepicker [dateClass]="dateClass" #dp color="primary"></mat-datepicker>-->
                <mat-datepicker #dp color="primary"></mat-datepicker>
            </mat-form-field>

            <ng-container *ngIf="slots">
                <mat-form-field class="mat-form-field-modal"
                                color="primary">
                    <input matInput readonly [placeholder]="'Slot'">
                    <mat-radio-group
                            [formControl]="selectionControl"
                            aria-labelledby="example-radio-group-label"
                            class="example-radio-group">
                        <mat-radio-button class="example-radio-button" *ngFor="let slot of slots" [value]="slot">
                            {{displaySlot(slot)}}
                        </mat-radio-button>
                    </mat-radio-group>
                </mat-form-field>

                <mat-form-field class="mat-form-field-modal" color="primary">
                    <textarea matInput
                              [placeholder]="'Grund'"
                              [type]="'textArea'"
                              [formControl]="reasonControl">
                </textarea>
                </mat-form-field>
            </ng-container>
        </mat-dialog-content>

        <mat-dialog-actions>
            <button type="button" mat-flat-button (click)="cancel()">Abbrechen</button>
            <button mat-flat-button color="primary" cdkFocusInitial>{{viewModel.submitTitle}}</button>
        </mat-dialog-actions>
    </form>
</div>
