.mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  background-color: #eee;
  margin: 25px -25px -25px -25px;
  padding: 30px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button {
    margin: 5px;
  }
}
