<mat-horizontal-stepper labelPosition="bottom" #stepper [linear]=true>
    <mat-step *ngFor="let step of steps" [label]="label(step)" [completed]="isStepCompleted(step)">
        <ng-container [ngSwitch]="step">

            <ng-container *ngIf="labwork && assignmentPlan">
                <lwm-assignment-plan *ngSwitchCase="0"
                                     [labwork]="labwork"
                                     [plan]="assignmentPlan"
                                     (planUpdate)="updateAssignmentPlan($event)">
                </lwm-assignment-plan>
            </ng-container>

            <ng-container *ngIf="labwork && timetable">
                <lwm-timetable *ngSwitchCase="1"
                               [labwork]="labwork"
                               [timetable]="timetable"
                               (timetableUpdate)="updateTimetable($event)">
                </lwm-timetable>
            </ng-container>

            <ng-container *ngIf="labwork && timetable">
                <lwm-timetable-blacklists *ngSwitchCase="2"
                                          [labwork]="labwork"
                                          [timetable]="timetable"
                                          (timetableUpdate)="updateTimetable($event)">
                </lwm-timetable-blacklists>
            </ng-container>

            <ng-container *ngIf="labwork && timetable && scheduleEntries && applications">
                <ng-container *ngSwitchCase="3">
                    <ng-container [ngSwitch]="groupViewMode()">
                        <lwm-create-header *ngSwitchCase="waitingForApplications()"
                                           headerTitle="Keine Anmeldungen vorhanden"
                                           [canCreate]="false">
                        </lwm-create-header>

                        <lwm-group-preview *ngSwitchCase="waitingForPreview()"
                                           [labwork]="labwork"
                                           [applications]="applications"
                                           (schedulePreviewEmitter)="updateSchedulePreview($event)">
                        </lwm-group-preview>

                        <lwm-group-immutable *ngSwitchCase="groupsPresent()"
                                             [labwork]="labwork"
                                             [scheduleEntries]="scheduleEntries">
                        </lwm-group-immutable>
                    </ng-container>
                </ng-container>
            </ng-container>


            <ng-container *ngIf="labwork && timetable && scheduleEntries">
                <lwm-schedule *ngSwitchCase="4"
                              [labwork]="labwork"
                              [timetable]="timetable"
                              [scheduleEntries]="scheduleEntries">
                </lwm-schedule>
            </ng-container>

            <ng-container *ngIf="labwork && timetable && scheduleEntries">
                <lwm-closing *ngSwitchCase="5"
                             [labwork]="labwork"
                             (labworkUpdate)="updateLabwork($event)">
                </lwm-closing>
            </ng-container>

            <p *ngSwitchDefault>???</p>
        </ng-container>

        <div>
            <button *ngIf="hasPrevButton(step)" mat-button matStepperPrevious
                    [disabled]="chainDisabled()">prev: {{prevButtonLabel(step)}}</button>
            <button *ngIf="hasNextButton(step) && isStepCompleted(step)" mat-button matStepperNext
                    [disabled]="chainDisabled()">next: {{nextButtonLabel(step)}}</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

