<mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step *ngFor="let step of steps" [label]="label(step)">
        <ng-container [ngSwitch]="step">
            <ng-container *ngIf="labwork">
                <lwm-assignment-plan *ngSwitchCase="0"
                                     [labwork]="labwork">
                </lwm-assignment-plan>
            </ng-container>

            <ng-container *ngIf="labwork && timetable">
                <lwm-timetable *ngSwitchCase="1"
                               [labwork]="labwork"
                               [timetable]="timetable"
                               (timetableUpdate)="updateTimetable($event)">
                </lwm-timetable>
            </ng-container>

            <ng-container *ngIf="labwork && timetable">
                <lwm-timetable-blacklists *ngSwitchCase="2"
                                          [labwork]="labwork"
                                          [timetable]="timetable"
                                          (timetableUpdate)="updateTimetable($event)">
                </lwm-timetable-blacklists>
            </ng-container>

            <ng-container *ngIf="labwork && timetable && scheduleEntries">
                <lwm-group-preview *ngSwitchCase="3"
                                   [labwork]="labwork"
                                   [scheduleEntries]="scheduleEntries">
                </lwm-group-preview>
            </ng-container>


            <ng-container *ngIf="labwork && timetable && scheduleEntries">
                <lwm-schedule *ngSwitchCase="4"
                              [labwork]="labwork"
                              [timetable]="timetable"
                              [scheduleEntries]="scheduleEntries">
                </lwm-schedule>
            </ng-container>

            <ng-container *ngIf="labwork && timetable && scheduleEntries">
                <lwm-closing *ngSwitchCase="5"
                             [labwork]="labwork"
                             (labworkUpdate)="updateLabwork($event)">
                </lwm-closing>
            </ng-container>

            <p *ngSwitchDefault>{{label(step)}}</p>
        </ng-container>

        <div>
            <button *ngIf="hasPrevButton(step)" mat-button matStepperPrevious
                    [disabled]="chainDisabled()">prev: {{prevButtonLabel(step)}}</button>
            <button *ngIf="hasNextButton(step)" mat-button matStepperNext
                    [disabled]="chainDisabled()">next: {{nextButtonLabel(step)}}</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

