@use "variables" as vars;
@use "sass:map";

.abstractTableMainTitle {
  h1 {
    display: inline;
  }
  span button {
    float: right;
    margin-left: map.get(vars.$spacing, "small");
  }
  margin: 20px 0 40px 0;
}
