<h1 mat-dialog-title>{{payload.headerTitle}}</h1>

<form [formGroup]="formGroup">

    <div mat-dialog-content>
        <mat-form-field *ngFor="let d of payload.data" color="primary" style="width: 100%">

            <input matInput *ngIf="isStandardInput(d)" [placeholder]="d.placeholder" [type]="d.type"
                   [formControlName]="d.formControlName">

            <div *ngIf="isDateInput(d)">
                <input matInput [matDatepicker]="dp" [placeholder]="d.placeholder"
                       [formControlName]="d.formControlName" (click)="dp.open()">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
            </div>

        </mat-form-field>
    </div>

    <div mat-dialog-actions> <!-- style -->
        <button mat-button (click)="onCancel()">Abbrechen</button>
        <button mat-button (click)="onSubmit()" cdkFocusInitial>{{payload.submitTitle}}</button>
    </div>
</form>
