<h1 mat-dialog-title>{{payload.headerTitle}}</h1>

<div class="modalContainer"> 
<mat-dialog-content [formGroup]="formGroup">
    <mat-form-field *ngFor="let d of payload.data" color="primary">
        <input matInput [placeholder]="d.placeholder" [type]="d.type" [formControlName]="d.formControlName">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions> 
    <button mat-flat-button (click)="onCancel()">Abbrechen</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" cdkFocusInitial>{{payload.submitTitle}}</button>
</mat-dialog-actions>
</div>