<lwm-create-header
        [headerTitle]="headerTitle"
        [canCreate]="false">
</lwm-create-header>

<ng-container [formGroup]="formGroup">
    <mat-form-field>
        <input matInput
               readonly
               formControlName="start"
               placeholder="Beginn des Praktikums"
               [matDatepicker]="dp"
               (click)="dp.open()">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp color="primary"></mat-datepicker>
    </mat-form-field>
</ng-container>

<full-calendar
        defaultView="timeGridWeek"
        [plugins]="calendarPlugins"
        [events]="dates"
        [locale]="'de'"
        [weekends]="false"
        [nowIndicator]="false"
        [allDaySlot]="false"
        [columnHeaderFormat]="{ weekday: 'long' }"
        [slotDuration]="'00:15:00'"
        [slotLabelInterval]="{hours:1}"
        [slotEventOverlap]="false"
        [minTime]="'08:00:00'"
        [maxTime]="'22:00:00'"
        [header]="false"
        [selectable]="true"
        [selectMirror]="true"
        [selectMinDistance]="10"
        [selectAllow]="allowSelect"
        [eventColor]="'#b43092'"
        [eventTextColor]="'#ffffff'"
        (select)="onDateSelection($event)"
        [unselectCancel]="'.unselectable'"
        (eventClick)="onEventClick($event.event)"
        (eventDrop)="onEventDrop($event)"
        (eventResize)="onEventResize($event)">
</full-calendar>
