<ng-container *ngIf="student$ | async as student">
    <h1>{{student.title}}</h1>

    <div>
        <mat-icon>email</mat-icon>
        <a [href]="student.mailto">{{student.mailAddress}}</a>
    </div>

    <div>
        <mat-icon>school</mat-icon>
        <span>{{student.enrollmentLabel}}</span>
    </div>

    <h1>Notenhefte</h1>

    <ng-container *ngIf="accordions$ | async as accordions; else loadingCards">
        <ng-container *ngFor="let accordion of accordions | sort: sortAccordions">
            <h2>{{accordion.course.abbreviation}}</h2>

            <mat-accordion [multi]="true">
                <mat-expansion-panel *ngFor="let panel of accordion.panels | sort: sortPanels"
                                     [expanded]="expandIfCurrentSemester(panel)">
                    <mat-expansion-panel-header (click)="bindDataSource(panel)">
                        <mat-panel-title>
                            {{panel.title}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panel.subTitle}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                        <ng-container>
                            <lwm-report-card-table
                                    [reschedulePresentationStrategy]="reschedulePresentationStrategy"
                                    [allowRescheduling]="true"
                                    [tableModel]="dataSources.get(panel)"
                                    [auths]="auths"
                                    [tableContentFor]="tableContentFor">
                            </lwm-report-card-table>
                        </ng-container>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </ng-container>

    <ng-template #loadingCards>
        Notenhefte werden geladen...
    </ng-template>
</ng-container>

