<lwm-create-header [headerTitle]="headerTitle"
                   [canCreate]="false"
                   (create)="voidF()">
</lwm-create-header>

<div class="mat-elevation-z8">
    <div class="container">
        <div class="row">
            <mat-card *ngFor="let group of groups" class="example-card col-md-4 col-xs-2">

                <mat-card-header>
                    <mat-card-title>
                        <span>{{cardTitle(group)}}</span>
                        <button mat-stroked-button color="primary" (click)="onEdit(group)" *ngIf="canEdit()"
                                matTooltip="Bearbeiten" matTooltipPosition="left">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content>
                    <mat-list>
                        <mat-list-item *ngFor="let member of group.members">
                            <p mat-line>{{displayUser(member)}}</p>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

