<lwm-abstract-header [headerTitle]="'Globale Blacklists'"
                     [actionTypes]="actions()"
                     (performAction)="onAction($event)">
</lwm-abstract-header>

<lwm-abstract-table [columns]="columns"
                    [tableContent]="tableContent"
                    [data$]="blacklists$"
                    [sort]="{active: 'date', direction: 'asc'}"
                    [canEdit]="true"
                    [canDelete]="true"
                    (deleteEmitter)="onDelete($event)"
                    (editEmitter)="onEdit($event)"
                    (dataSourceEmitter)="initDataSource($event)">
</lwm-abstract-table>
