
// FONT
$lwm-font-family: "Helvetica Neue","Ostrich Sans", sans-serif;
$lwm-font-color: rgb(32, 32, 32);

// COLORS
$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;
$ivory: #F8F8F8;
$ivory-border: #E7E7E7;

$heading-background: #ddd;
$header-font: #ABABAB;

$light-bordercolor: #e0e0e0;
$medium-bordercolor: #999;
$dark-bordercolor: #222;

$hover-color: #f5f5f5;

// SPACING
$small-spacing : 5px;
$low-spacing : 10px;
$med-spacing : 25px;
$high-spacing : 40px;
$v-spacing: 16px;
$h-spacing: $low-spacing;

$lwm-border-radius: 5px;