$lwm-font-family: "Helvetica Neue","Ostrich Sans", sans-serif;
$lwm-font-color: #eee;

$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;

$lwm-ui-primary: $th-orange;
$lwm-ui-warn: $th-red;
$lwm-ui-accent: $th-magenta;

$lwm-button-background-color: rgba(255, 255, 255, 0.3);
$lwm-button-border-color: #eee;
$lwm-button-text-color: #eee;

$ivory: #F8F8F8;
$ivory-border: #E7E7E7;
$font-grey-hover: #777777;
$header-font: #ABABAB;

$hightlight: #EA5A00;
$dark: #343330;
$darkest: #262429;
$light: #E6E8E6;
$lightest: #f8f8f8;