$lwm_font_family: "Ostrich Sans", sans-serif;
$lwm_font_color: #ffffff;

$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;


$lwm_primary_color: $th-orange;
$lwm_warn_color: $th-red;
$lwm_accent_color: $th-magenta;

$lwm_background_color_1: #3A7BD5;
$lwm_background_color_2: #00D2FF;

$lwm_button_background_color: rgba(255, 255, 255, 0.3);
$lwm_button_border_color: #ffffff;
$lwm_button_text_color: #ffffff;

$ivory: #F8F8F8;
$ivory-border: #E7E7E7;
$font-grey-hover: #777777;
$header-font: #ABABAB;

$hightlight: #EA5A00;
$dark: #343330;
$darkest: #262429;
$light: #E6E8E6;
$lightest: #f8f8f8;