/* You can add global styles to this file, and also import other style files */
//@import "./lwm.theme.config.scss";
@import "./lwm.theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.lwmUserAuthorityUpdateDialog .mat-dialog-container,
.lwmCreateUpdateDialog .mat-dialog-container,
.lwmDeleteDialog .mat-dialog-container {
  overflow: hidden;
}