/* You can add global styles to this file, and also import other style files */
//@import "./lwm.theme.config.scss";
@import "./lwm.theme.scss";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";
@import "~@fullcalendar/list/main.css";
@import "./lwm.vars.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.lwmUserAuthorityUpdateDialog .mat-dialog-container,
.lwmCreateUpdateDialog .mat-dialog-container,
.lwmDeleteDialog .mat-dialog-container,
.lwmGroupEditDialog .mat-dialog-container,
.lwmCourseAuthorityUpdateDialog .mat-dialog-container,
.lwmTimetableEntryDialog .mat-dialog-container,
.lwmGroupPreviewDialog .mat-dialog-container,
.lwmConfirmationDialog .mat-dialog-container,
.lwmDecisionDialog .mat-dialog-container,
.lwmRescheduleDialog .mat-dialog-container,
.lwmAssignmentEntryTakeoverDialog .mat-dialog-container {
    overflow: hidden;
}

full-calendar {
    button.fc-button-primary,
    button.fc-state-default {
        background-color: $th-magenta;
        border-color: $th-magenta;
    }

    button.fc-button-primary:hover,
    button.fc-button-primary:active,
    button.fc-button-primary:focus,
    button.fc-state-default:hover,
    button.fc-state-default:active,
    button.fc-state-default:focus {
        background-color: darken($th-magenta, 5%);
        border-color: darken($th-magenta, 5%);
    }
}

.material-icons {
    line-height: 0.8em;
}
