<form>
    <input type="text" placeholder="Suche nach Studenten" [formControl]="control" [matAutocomplete]="auto"
           (click)="inputClicked()">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="formInputOption.displayFn">
        <mat-option *ngFor="let option of formInputOption.filteredOptions | async" [value]="option"
                    (click)="userSelected(option)"> <!-- react on enter press -->
            {{formInputOption.displayFn(option)}}
        </mat-option>
    </mat-autocomplete>
</form>
