$ft-color: #c0c0c0;
$bg-color: #333333;
$boder-color: #b43092;

* {
    margin-left: 10px;
    input {
        width: 400px;
        background-color: $bg-color;
        color: $ft-color;
        border: none;
        border-left: 4px $boder-color solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 10px;
        caret-color: $ft-color;
    }
    input:focus {
        outline: none;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: darken($ft-color, 10);
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: darken($ft-color, 10);
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: darken($ft-color, 10);
    }
}
